{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="{% static '/imags/boo.png' %}" alt="" width="60">
  <img src="{% static '' %}" alt="">
  <a class="navvv" href="#">Navbar</a>
  <style>

  </style>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="bbbb"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home'  %}"
          >home <span class="sr-only">(current)</span></a
        >
      </li>
      {% if req.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'customer'  %}"
          >Dashboard <span class="sr-only">(current)</span></a
        >
      </li>
      {% endif %}
    
      
      <li class="nav-item">
        <a class="nav-link" href= "{% url 'about'  %}">books</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'customer'  %}">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>

    {% comment %} <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      /> {% endcomment %}
      {% comment %} <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> {% endcomment %}
        {% comment %} Search {% endcomment %}
      </button>
    </form>
    {{request.user}}
    <a class="btn btn-dark" href="{% url 'logout' %}">logout</a>
    {% comment %} <a class="btn btn-dark" href="{% url 'userlogin' %}">login</a> {% endcomment %}
    {% comment %} <a class="btn btn-dark" href="{% url 'register' %}">register</a> {% endcomment %}
  </div>
</nav>
